# Binaries
/protoc-gen-protobufjs
/protoc

# Release archive
/*.tar.gz

# Test build outputs
/test/node_modules
/test/proto/**/*.ts
/test/proto/google
/test/**/*.js
/test/gen
/test/out

# Bazel convenience symlinks
/bazel-*
